li#navbar {
        float: left;
        width: 100px;
        height: 30px
        background-color: #1cff00;
        decoration: none;
      }
      ul#navbar {
        width: 100%;
        height: 30px;
        background-color: #cbcbcb;
      }
      a#navbar {
        width: 100px;
        height: 30px
        font-size: 2em;
      }
